#chat id
#grup testing bot staging
ID_BOOKING =
ID_JENKINS =
ID_REMINDER =
ID_TODO =
ID_PRIVATE =

#JKT48
TOKEN_BOOKING =
TOKEN_JENKINS =
TOKEN_REMINDER =
TOKEN_TODO =

#JKT48
BOT_BOOKING =
BOT_JENKINS =
BOT_REMINDER =
BOT_TODO =

#JKT48
NAME_BOOKING =
NAME_JENKINS =
NAME_REMINDER =
NAME_TODO =

DOWNLOAD_URL =
ENVIRONMENT =
